In [37]:
import pandas as pd
from datetime import datetime

In [38]:
full_path = "/Users/avaldivia/Documents/GitHub/Event-Aggregator/Web Scraper/Data/games.csv"
df = pd.read_csv(filepath_or_buffer= full_path,index_col = 0)
df.head(n = 3)

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K

In [39]:
def k_mapping(num: str) -> int:
    multiplier = 1
    l = num
    r = 0
    if 'K' in num:
        l = num[:-1]
        multiplier = 1_000
    
    if '.' in num:
        l , r = l.split('.')

    return int( (int(l) * multiplier) + (int(r) * (multiplier/10)) )

assert(k_mapping('3.9K')   == 3900.0)
assert(k_mapping('11.9K')  == 11_900.0)
assert(k_mapping('41K')    == 41000.0)
assert(k_mapping('400')    == 400.0)

In [40]:
df['Times Listed']      = df['Times Listed'].apply(func = k_mapping)
df['Number of Reviews'] = df['Number of Reviews'].apply(func = k_mapping)
df['Plays']             = df['Plays'].apply(func = k_mapping)
df['Playing']           = df['Playing'].apply(func = k_mapping)
df['Backlogs']          = df['Backlogs'].apply(func = k_mapping)
df['Wishlist']          = df['Wishlist'].apply(func = k_mapping)

In [41]:
date_map = lambda date: datetime.strptime(date,'%b %d, %Y').strftime(format = '%Y-%m-%d')
# Test lambda function
sample_date = 'Feb 25, 2022'
date_map(sample_date)

'2022-02-25'

In [42]:
# Remove all the rows that contains 'releases on TBD' as it messes with the mapping.
df = df[df['Release Date'] != 'releases on TBD']

In [43]:
df['Release Date'] = pd.to_datetime(df['Release Date'].apply(func = date_map))

In [34]:
#df['Genres'] = df['Genres'].apply(func = lambda l: eval(l))

In [49]:
df.head(n = 2)

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,Elden Ring,2022-02-25,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,3900,3900,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,3800,4600,4800
1,Hades,2019-12-10,['Supergiant Games'],4.3,2900,2900,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21000,3200,6300,3600

In [48]:
s = {i for item in df['Genres'] for i in eval(item)}
print(len(s))
s

23

{'Adventure',
 'Arcade',
 'Brawler',
 'Card & Board Game',
 'Fighting',
 'Indie',
 'MOBA',
 'Music',
 'Pinball',
 'Platform',
 'Point-and-Click',
 'Puzzle',
 'Quiz/Trivia',
 'RPG',
 'Racing',
 'Real Time Strategy',
 'Shooter',
 'Simulator',
 'Sport',
 'Strategy',
 'Tactical',
 'Turn Based Strategy',
 'Visual Novel'}

In [50]:
# Apply One Hot encoding for each of the categories
for category in s:
    df[category] = df['Genres'].apply( func = lambda x: 1 if category in x else 0)

df.drop(labels=['Genres'],axis=1)

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Summary,Reviews,Plays,Playing,...,Simulator,RPG,Arcade,Card & Board Game,Sport,Music,MOBA,Adventure,Indie,Tactical
0,Elden Ring,2022-02-25,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,3900,3900,"Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,3800,...,0,1,0,0,0,0,0,1,0,0
1,Hades,2019-12-10,['Supergiant Games'],4.3,2900,2900,A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21000,3200,...,0,1,0,0,0,0,0,1,1,0
2,The Legend of Zelda: Breath of the Wild,2017-03-03,"['Nintendo', 'Nintendo EPD Production Group No...",4.4,4300,4300,The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30000,2500,...,0,1,0,0,0,0,0,1,0,0
3,Undertale,2015-09-15,"['tobyfox', '8-4']",4.2,3500,3500,"A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28000,679,...,0,1,0,0,0,0,0,1,1,0
4,Hollow Knight,2017-02-24,['Team Cherry'],4.4,3000,3000,A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21000,2400,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,Back to the Future: The Game,2010-12-22,['Telltale Games'],3.2,94,94,Back to the Future: The Game is one of Telltal...,['Very enjoyable game. The story adds onto the...,763,5,...,0,0,0,0,0,0,0,1,0,0
1508,Team Sonic Racing,2019-05-21,"['Sumo Digital', 'Sega']",2.9,264,264,Team Sonic Racing combines the best elements o...,"['jogo morto mas bom', 'not my cup of tea', ""C...",1500,49,...,0,0,1,0,0,0,0,0,0,0
1509,Dragon's Dogma,2012-05-22,['Capcom'],3.7,210,210,"Set in a huge open world, Dragon’s Dogma: Dark...","['Underrated.', 'A grandes rasgos, es como un ...",1100,45,...,0,1,0,0,0,0,0,0,0,0
1510,Baldur's Gate 3,2020-10-06,['Larian Studios'],4.1,165,165,"An ancient evil has returned to Baldur's Gate,...",['Bu türe bu oyunla girmeye çalışmak hataydı s...,269,79,...,0,1,0,0,0,0,0,1,0,1
1511,The LEGO Movie Videogame,2014-02-04,"['WB Games', 'TT Fusion']",2.8,184,184,Join Emmet and an unlikely group of resistance...,"['Legal', 'Pretty Average Lego Game But It Was...",1700,11,...,0,0,0,0,0,0,0,1,0,0

In [55]:
df.head(n = 2)

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,...,Simulator,RPG,Arcade,Card & Board Game,Sport,Music,MOBA,Adventure,Indie,Tactical
0,Elden Ring,2022-02-25,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,3900,3900,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,...,0,1,0,0,0,0,0,1,0,0
1,Hades,2019-12-10,['Supergiant Games'],4.3,2900,2900,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21000,...,0,1,0,0,0,0,0,1,1,0

In [62]:
df.iloc[:,13:]

<class 'pandas.core.frame.DataFrame'>
Index: 1509 entries, 0 to 1511
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Shooter              1509 non-null   int64
 1   Real Time Strategy   1509 non-null   int64
 2   Fighting             1509 non-null   int64
 3   Racing               1509 non-null   int64
 4   Strategy             1509 non-null   int64
 5   Brawler              1509 non-null   int64
 6   Pinball              1509 non-null   int64
 7   Visual Novel         1509 non-null   int64
 8   Quiz/Trivia          1509 non-null   int64
 9   Platform             1509 non-null   int64
 10  Puzzle               1509 non-null   int64
 11  Turn Based Strategy  1509 non-null   int64
 12  Point-and-Click      1509 non-null   int64
 13  Simulator            1509 non-null   int64
 14  RPG                  1509 non-null   int64
 15  Arcade               1509 non-null   int64
 16  Card & Board Game    1509 non-null   int64
 17  Sport                1509 non-null   int64
 18  Music                1509 non-null   int64
 19  MOBA                 1509 non-null   int64
 20  Adventure            1509 non-null   int64
 21  Indie                1509 non-null   int64
 22  Tactical             1509 non-null   int64
dtypes: int64(23)
memory usage: 282.9 KB

In [66]:
inventory = pd.concat([df['Title'],df.iloc[:,13:] ], axis = 1)

In [69]:
inventory.head(n = 2)

,Title,Shooter,Real Time Strategy,Fighting,Racing,Strategy,Brawler,Pinball,Visual Novel,Quiz/Trivia,...,Simulator,RPG,Arcade,Card & Board Game,Sport,Music,MOBA,Adventure,Indie,Tactical
0,Elden Ring,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,Hades,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,1,0

In [67]:
inventory.info()

        Title  Shooter  Real Time Strategy  Fighting  Racing  Strategy  \
0  Elden Ring        0                   0         0       0         0
1       Hades        0                   0         0       0         0

   Brawler  Pinball  Visual Novel  Quiz/Trivia  ...  Simulator  RPG  Arcade  \
0        0        0             0            0  ...          0    1       0
1        1        0             0            0  ...          0    1       0

   Card & Board Game  Sport  Music  MOBA  Adventure  Indie  Tactical
0                  0      0      0     0          1      0         0
1                  0      0      0     0          1      1         0

[2 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1509 entries, 0 to 1511
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                1509 non-null   object
 1   Shooter              1509 non-null   int64
 2   Real Time Strategy   1509 non-null   int64
 3   Fighting             1509 non-null   int64
 4   Racing               1509 non-null   int64
 5   Strategy             1509 non-null   int64
 6   Brawler              1509 non-null   int64
 7   Pinball              1509 non-null   int64
 8   Visual Novel         1509 non-null   int64
 9   Quiz/Trivia          1509 non-null   int64
 10  Platform             1509 non-null   int64
 11  Puzzle               1509 non-null   int64
 12  Turn Based Strategy  1509 non-null   int64
 13  Point-and-Click      1509 non-null   int64
 14  Simulator            1509 non-null   int64
 15  RPG                  1509 non-null   int64
 16  Arcade               1509 non-null   int64
 17  Card & Board Game    1509 non-null   int64
 18  Sport                1509 non-null   int64
 19  Music                1509 non-null   int64
 20  MOBA                 1509 non-null   int64
 21  Adventure            1509 non-null   int64
 22  Indie                1509 non-null   int64
 23  Tactical             1509 non-null   int64
dtypes: int64(23), object(1)
memory usage: 294.7+ KB

In [70]:
#inventory.to_csv("/Users/avaldivia/Documents/GitHub/Event-Aggregator/Web Scraper/Data/video_games.csv")

In [11]:
l = df['Reviews'][0]
for item in eval(l):
    print(item)
    print()

The first playthrough of elden ring is one of the best eperiences gaming can offer you but after youve explored everything in the open world and you've experienced all of the surprises you lose motivation to go exploring on repeat playthroughs which takes a lot away from the replayability which is a very important thing for from games imo.

a replay solidified my love for elden ring. so easily my favorite game of all time. actually beating malenia this time was also an amazing feeling. i just love being in this world man its the greatest of all time

The game is absolutely beautiful, with so much to do. The replayability is crazy. And it never gets old with it too.

Took everything great about the Soulsborne games and make it 100% better.

I play with my overlevelled friend every time and we still fail sometimes (he’s on NG6), insanely difficult game lol

                     gorgeous graphics, animations, everything about this game is so beautiful. deserves all the hype it gets. If you have a powerful enough pc I definitely recommend you play it on there, if you use keyboard, you’ll want to change the keybinds because the defaults are ass.

Tied as my favorite souls game with Bloodborne, truly one I'll keep coming back too.